name: Deploy MkDocs site

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install \
            mkdocs \
            mkdocs-material \
            pymdown-extensions \
            mkdocs-awesome-pages-plugin \
            mkdocs-tags-plugin \
            mkdocs-git-revision-date-localized-plugin

      - name: Build and deploy
        run: mkdocs gh-deploy --force
